# Topic 1 = Getting Started

Hello World

In [ ]:
#Type This

print("Hello Everyone")
print(1+5)

# Topic 2 = Data Types

## Learning About Assignment

In [ ]:
#Type This

a = 1
b = 2
#print(a+b) -> Indentation Error
print(a+b)

In [ ]:
#Type This

a,b=1,2
a,b = b,a+b
print('a = ',a)
print('b = ',b)

## Learning About Format

In [ ]:
#Type This

a = 1
b = 2
print("{}+{}={}".format(a,b,a+b))

In [ ]:
#Type This

a = 1.222
b = 2.333
print("{:0.1f}+{:0.1f}={:0.1f}".format(a,b,a+b))

In [ ]:
#Type This

a = 1.222
b = 2.333
print("{1:0.1f}+{0:0.1f}={2:0.1f}".format(a,b,a+b))

2.3+1.2=3.6

## Learning About Strings

In [ ]:
#Concatenating Two Strings
#Type This

a = "Hello"
b = " World"
print(a+b)

In [ ]:
#Upper and Lower Case
#Type This

a = "Hello".upper()
print(a)
b = " World".lower()
print(b)
print(a+b)

In [ ]:
#Replacing Words
#Type This

a = "Hello"
b = " World"
c = a+b
d = c.replace("World","Alfred")
print(d)

In [ ]:
#Using Format with String
#Type This

name = "Alfred"
print("My name is {}".format(name))

### Mini Exercise 1 = Guess the Output

In [ ]:
#Don't run this, try to guess the output?

country ="france".upper()
capital ="paris".capitalize()

print("The capital of {} is {}".format(country,capital))

In [ ]:
#Remove Spacing in String using Strip
#Type This

a = "         Hello".strip()
b = " World"
print(a+b)

In [ ]:
#Splitting a String
#Type This

a = "The answer = 5 "
b = a.split('=')
print(b)

In [ ]:
#Joining a String
#Type This

c = "=".join(b)
print(c)

##Learning About List

In [ ]:
#Type This
a = ['apple','orange','banana','durian']
print(a)

In [ ]:
#Type This
a[0]

In [ ]:
#Type This
a[2]

In [ ]:
#Type This
a[0:4]

In [ ]:
#Type This
a[2:4]

In [ ]:
#Type This
a[-1]

In [ ]:
#Type This
a.index('banana')

In [ ]:
#Appending Lists
#Type This

a = ['apple','orange','banana','durian']
a.append('mango')
a

In [ ]:
#Inserting Into a List
#Type This

a.insert(2,'strawberry')
a

###Mini Exercise 2 = What's the Difference between "Append" vs "Insert" ?

In [ ]:
#Removing from a List
#Type This

a.remove('banana')
a

In [ ]:
#Learn how to Pop into a List
#Type This

a.pop()
a

In [ ]:
#Type This

a.pop(0)
a

###Mini Exercise 3 = What's the Difference between "Remove" vs "Pop"?

In [ ]:
#Learn how to Copy Lists
#Type This

a = ['apple','orange','banana','durian']
b = a.copy()
b

In [ ]:
#Copy by Assigning (Another way of Copying)
#Type This

c = a 
c

In [ ]:
#Reversing a List
#Type this

a.reverse()
a

In [ ]:
#Appending a List
#Type this

a.append('orange')
a

In [ ]:
#Stating the Order on a List
#Type this

a.count('orange')

###1st Quiz of the Day...

letters =['A','C','C','A','T','T','G','A','C','A']

**Manipulate the letters** 
* copy from original letters to letters2
* remove G in new letters
* insert A in location 3
* reverse the order of new letters

Time = 5 min

In [ ]:
#Hint to 1st Quiz of the Day

letters =['A','C','C','A','T','T','G','A','C','A']

letters2 = letters.copy()
...
...
...
...

Ellipsis

In [ ]:
#Answer to 1st Quiz of the Day

letters =['A','C','C','A','T','T','G','A','C','A']

letters2 = letters.copy()
letters2.remove('G')
letters2.insert(3,'A')
letters2.reverse()
letters2

##Learning about Tuple

In [ ]:
#Type this

a = ('apple','orange','banana','durian')
a

'apple'

In [ ]:
#Type this

a[0]

###Mini Exercise 4 = What's the Difference between "List" vs "Tuple"?

In [ ]:
#Try Appending a Tuple
#Type this

a.append('mango')

##Learning About Dictionary

In [ ]:
#Type This

a = {'France':'Paris','Germany':'Berlin','Italy':'Roman'}
a

In [ ]:
#Type this

a['Germany']

###Mini Exercise 5 = What's the Difference between "List" vs "Tuple" vs "Dictionary"?

##Learning about Set

In [ ]:
# Type This

a = {2,3,4}
b = {3,2,2,4,4}
b

In [ ]:
#Type This

sent = "Peter reads a book on a table"
words = sent.split()
words

{'Peter', 'a', 'book', 'on', 'reads', 'table'}

In [ ]:
#Type This

vocab = set(words)
vocab

{'Peter', 'a', 'book', 'on', 'reads', 'table'}

In [ ]:
len(vocab)

6

###Mini Exercise 6 = What's the Difference between "List" vs "Tuple" vs "Dictionary" vs "Set"?

#Topic 3 = Operators

In [ ]:
# Arithmetic Operators
#Type this

7%3

In [ ]:
# Compound Operators
#Type this

a = 1
#a = a + 2
a += 2
a

In [ ]:
# Comparison Operators
#Type this

3>2

False

In [ ]:
#Type this

3==2

In [ ]:
#Type this

3!=2

In [ ]:
# Membership Operators
#Type this

a = ['apple','orange','banana','durian']
'apple' in a

In [ ]:
#Type this

'mango' in a

In [ ]:
# Logical Operators
#Type this

True or False

In [ ]:
#Type this

True and False

In [ ]:
#Type this

a = 1; b = 2;
(a == 1) and not(b > 3)

In [ ]:
#Type this

(a == 1)

In [ ]:
#Type this

b > 3

In [ ]:
#Type this

not(b > 3)

In [ ]:
#Type this

True and True

#Topic 4 = Control Structures

##Learning about Conditions

In [ ]:
# Conditional
#Type This

a = 3
b = 3
if (a<b):
    print('a is small than b')
elif (a>b):
    print('a is larger than b')
else:
    print('a is same as b')

###2nd Quiz of the Day...

grade = input('What is your grade :' )

if grade is A, then print "Excellent!"

if grade is B, then print "Well done!"

if grade is C, then print "Work harder "

otherwise, print "I don't know your grade"

Run your Python program from the CMD Prompt
(Windows) or Terminal (Mac) Eg:
python test.py or python3 test.py (Mac)

Time: 5 min

In [ ]:
#Hint to 2nd Quiz of the Day

grade = input('What is your grade :' )
grade = grade.upper()
...
...
...
...
...
...
...
...

What is your grade :4

Ellipsis

In [ ]:
# Answer to 2nd Quiz of the Day

grade = input('What is your grade :' )
grade = grade.upper()
if grade=='A':
    print('Excellent!')
elif grade == 'B':
    print('Well Done')
elif grade=='C':
    print('Work harder')
else:
    print("Sorry I don't know your grade")

##Learning about Ternary Operators

In [ ]:
# Ternary Operator Example 1
#Type this

order = 10
discount = 25 if order>100 else 0
discount

In [ ]:
# Ternary Operator Example 2
# Type this

a = 3
b = 5
c = a if a>b else b
c

##Learning about While Loops

In [ ]:
# While loop
#Type This

a = 1
while (a<10):
    print(a)
    a += 1

###3rd Quiz of the Day

**Fibonacci Sequence**

Fibonacci number is the sum of the previous 2
fibonacci numbers.

Generate a Fibonacci sequence
1, 1, 2, 3, 5, 8, 13, 21, 34, ...

Use the while loop to print out the fibonacci
sequence up to 100.

Time: 10min

In [ ]:
#Hint to 3rd Quiz of the Day

...

while (b<100):
  a,b = b,a+b
  ...

Question:
is a,b = b,a+b same as
a = b
b = a +b

In [ ]:
#Answer to 3rd Quiz of the Day

a,b=0,1

while (b<100):
    a,b = b,a+b
    print(b)

##Learning about For Loops

In [ ]:
# For loop Example 1
#Type this

a = ['apple','orange','banana','durian']

for i in a:
    print(i)

In [ ]:
#For loop Example 2
#Type this

for i in range(1,20,2):
    print(i)

In [ ]:
#Using For with List
#Type this

a = range(2,12,2)
list(a)

### 4th Quiz of the Day

Generate a python list of 10 square numbers
using for loop

[1,4,9,16,25,36,49,64,81,100]

Time: 5 mins

In [ ]:
#Hint to 4th Quiz of the Day

a = []

for i in range(1,11):
  a.append(i*i)

  ...

In [ ]:
#Answer to 4th Quiz of the Day

a = []

for i in range(1,11):
    a.append(i*i)
a

## Learning about Enumeration

In [ ]:
# Enumerate Example
# Type this

person = ['Alfred','Ally','Belinda']
height = [170,160,155]

for i,name in enumerate(person):
    h = height[i]
    print("{} height is {}cm".format(name,h))

##Learning about Zip

In [ ]:
# Zip Example
# Type this

person = ['Alfred','Ally','Belinda']
height = [170,160,155]

c = zip(person,height)
for name,h in c:
    print("{} height is {}cm".format(name,h))

###5th Quiz of the Day

name = ['Ally','Belinda','Jane']

height = [170,159,161]

weight = [60,55,45]

Hint:
for name,height,weight in zip(a,b,c):

In [ ]:
#Answer to 5th Quiz of the Day

person = ['Alfred','Ally','Belinda']
height = [170,160,155]
weight = [60,55,45]

c = zip(person,height,weight)
for name,h,w in c:
    print("{} height is {}cm and weight is {}kg".format(name,h,w))

##Learning about Breaks

In [ ]:
#Break Example
#Type This

for i in range(10):
    if i==4:break
    print(i)

##Learning about Continue

In [ ]:
#Continue Example
#Type this

for i in range(10):
    if i==4:continue
    print(i)

# Topic 5 Function

In [ ]:
#Type this

def f(x):
    return x*x

In [ ]:
#Type this

f(3)

##6th Quiz of the Day
Create a function to compute taxi fare

The only input is the distance

The only output is the fare

taxi fare = booking fee + starting price+
distance*cost per km

Time: 5 min

In [ ]:
#Answer to 6th Quiz of the Day

def fare(d):
    book=2.0
    start=3.0
    cost=1.0
    fare=book+start+d*cost
    return fare
    
fare(10)

15.0

##Learning Multiple Outputs

In [ ]:
#Type this

def f(x):
    return x*x,2*x

f(5)

(25, 10)

###7th Quiz of the Day

Create a function to return the discount and the
tax for grocery purchase

discount = 25 if order > 200 else 0

disc_amt = discount*order/100

tax = 0.07*(order - disc_amt)

Time: 5 min

In [ ]:
#Answer to 7th Quiz of the Day

def grocery(order):
    discount = 25 if order > 200 else 0
    disc_amt = discount*order/100
    tax = 0.07*(order - disc_amt)
    return disc_amt,tax

In [ ]:
#Type this

order = input('How much is your. order')
order = float(order)
discount,tax = grocery(order)
print('The discount is ${}'.format(discount))
print('The tax is ${}'.format(round(tax,2)))

##Learning Multiple Arguments

In [ ]:
#Type this

def f(x,y):
    return x*y

In [ ]:
#Type this

f(2,3)

In [ ]:
#Type this

f(2)

##Learning Default Argument

In [ ]:
def f(x,y=3):
    return x*y

In [ ]:
#Type this

f(2)

In [ ]:
#Type this

def f(x=3,y=3):
    return x*y

In [ ]:
#Type this

f()

In [ ]:
#Type this

f(y=5)

##Learning Variable Argument

In [ ]:
#Type this

def sum(a,*b):
    sum = a
    for i in b:
        sum = sum + i
    return sum

In [ ]:
#Type this

sum(2,3,4,5,6,7,8,9,10)

###8th Quiz of the Day

Give a sequence of variable number of
elements, create a function to determine the
minimum value

Time: 5 min

Hint to 8th Quiz of the Day

m = a

for i in b:

if i<m: m=i

In [ ]:
#Answer to 8th Quiz of the Day

def min(a,*b):
    m = a
    for i in b:
        if i<m: m=i
    return m

In [ ]:
#Type this

min(7,4,8,9,10)

##Learning About Lambda

Syntax:

lambda input : output



equivalent to

  def name(input):

  return output

In [ ]:
#Lambda Example 1
#Type this

def f(x):
    return x*x

In [ ]:
#The above example is equivalent to the one below
#Type this

a = lambda x:x*x

In [ ]:
#Type this

a(4)

### 9th Quiz of the Day

Write the lambda function for

def f(x,y):

return 10*x+y

Time: 5 min

In [ ]:
#Answer to 9th Quiz of the Day

f = lambda x,y: 10*x+y

def g(f,x,y=0):
  return f(x,y);

In [ ]:
#Type this

g(f,4)

##Learning about Maps

In [ ]:
#Type this

a = [1,2,3,4]

b = map(lambda x:2*x,a)
list(b)

###10th Quiz of the Day

Using map to compute the answer for

f = lambda x,y:10*x+y

x = [0,1,2,3]

y = [2,4,6,8]

Time: 5 min

In [ ]:
#Hint to 10th Quiz of the Day

map(lambda x,y:10*x+y,x,y)

In [ ]:
#Answer to 10th Quiz of the Day

f = lambda x,y:10*x+y
x = [0,1,2,3]
y = [2,4,6,8]

In [ ]:
#Type this

b = map(f,x,y)
list(b)

##Learning about Filters

In [ ]:
#Type this

a = [1,2,3,4,5,6,7,8]

b = filter(lambda x:x>3,a)
list(b)

In [ ]:
# Type this

x = [0,1,-4, 2,-6,3]

b = filter(lambda x:x>=0,x)
list(b)

#FINAL PRACTICE OF THE DAY

- Write a Python function to compute taxi value
        - booking fee is $3.0
        - starting fee is $2.0
        - cost per km is $2 for first 5km
        - cost per km is $1.50 from 5km to 10 km
        - cost per km is $1.00 after 10km
        - if the age is > 60 years old, give 10% discount
- Display the result as 

"name, your taxi fare is  is <fare  value in 1 decimal place>"

In [ ]:
##Answer to FINAL PRACTICE OF THE DAY

def fare():
    name = input('What is your name : ')
    d = input('How long is the distance traveled : ')
    d = float(d)
    age = input('How old are you?')
    age = int(age)
    
    if d<5: cost=2.0*d
    if d>=5 and d<10: cost=2.0*5+1.5*(d-5)
    if d>=10: cost= 2.0*5+1.5*5+1.0*(d-10)
        
    book=3.0
    start=2.0
    fare=book+start+cost
    
    if age>=70: fare=0.9*fare
        
    fare=round(fare,1)
    print('{}, your taxi fare is ${}'.format(name,fare))

In [ ]:
fare()

#FINAL QUIZ OF THE DAY 

*no time to do in class

*do as self practice homework

https://docs.google.com/forms/d/e/1FAIpQLSetInCVZIYKnjmZ-3OI2W3O__86rHpBYEY4sYZgxwZnmn9-Yw/viewform